.rows-container {
    margin-top: 6rem;

    .row {
        // margin-block-end: 0.25rem;
    }

    @for $i from 0 to 20 {
        $starting-hue: 0deg;
        $hue-variation: 35;

        :nth-child(#{$i + 1}) {
            .label {
                background-color: hsl($starting-hue + $i * $hue-variation, 70%, 50%);
            }
        }
    }
}